@charset "UTF-8";
/*共通*/
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.sp-img {
  display: none;
}
@media screen and (max-width: 1272px) {
  .sp-img {
    display: inline-block;
    width: 60%;
    margin-bottom: 7.5rem;
  }
}
@media screen and (max-width: 767px) {
  .sp-img {
    width: 100%;
    margin-bottom: 3rem;
  }
}

.section-title-big, .feature .feature-titles .feature-title, .about .about-title p {
  font-family: "source-han-sans-japanese", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 6rem;
  color: #3D7FC2;
  font-weight: bold;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 767px) {
  .section-title-big, .feature .feature-titles .feature-title, .about .about-title p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 316px) {
  .section-title-big, .feature .feature-titles .feature-title, .about .about-title p {
    font-size: 2rem;
  }
}

.section-title-mini, .feature .feature-titles span, .about .about-title span {
  font-family: "source-han-sans-japanese", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  color: #3D7FC2;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-left: -20px;
}
@media screen and (max-width: 767px) {
  .section-title-mini, .feature .feature-titles span, .about .about-title span {
    font-size: 2rem;
  }
}
@media screen and (max-width: 316px) {
  .section-title-mini, .feature .feature-titles span, .about .about-title span {
    font-size: 1.4rem;
  }
}

.feature-section-title, .feature .activity-examples .activity-example-title p, .feature .meetings .meeting-title, .feature .activity .activity-title {
  font-family: "interstate", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14rem;
  color: #313131;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 1800px) {
  .feature-section-title, .feature .activity-examples .activity-example-title p, .feature .meetings .meeting-title, .feature .activity .activity-title {
    font-size: 12rem;
  }
}
@media screen and (max-width: 1272px) {
  .feature-section-title, .feature .activity-examples .activity-example-title p, .feature .meetings .meeting-title, .feature .activity .activity-title {
    font-size: 9rem;
  }
}
@media screen and (max-width: 767px) {
  .feature-section-title, .feature .activity-examples .activity-example-title p, .feature .meetings .meeting-title, .feature .activity .activity-title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 316px) {
  .feature-section-title, .feature .activity-examples .activity-example-title p, .feature .meetings .meeting-title, .feature .activity .activity-title {
    font-size: 3rem;
  }
}

.feature-section-texts, .feature .meetings .meeting-container .text, .feature .text, .feature .tags {
  font-family: "source-han-sans-japanese", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.8rem;
  line-height: 8rem;
  color: #313131;
}
@media screen and (max-width: 1800px) {
  .feature-section-texts, .feature .meetings .meeting-container .text, .feature .text, .feature .tags {
    font-size: 2.8rem;
    line-height: 6rem;
  }
}
@media screen and (max-width: 767px) {
  .feature-section-texts, .feature .meetings .meeting-container .text, .feature .text, .feature .tags {
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

.button {
  background-color: #FFF3CE;
  font-size: 2.4rem;
  font-weight: bold;
  color: #313131;
  border-radius: 1000px;
  padding: 20px 80px;
  transition: 0.5s;
  font-family: "source-han-sans-japanese", sans-serif;
  font-weight: 700;
  font-style: normal;
}
@media screen and (max-width: 767px) {
  .button {
    font-size: 1.4rem;
    padding: 10px 50px;
  }
}

.button:hover {
  color: #FFF3CE;
  background-color: #313131;
}
.button:hover .arrow {
  left: 30px;
}

@media screen and (max-width: 767px) {
  .button:hover {
    color: #FFF3CE;
    background-color: #313131;
  }
  .button:hover .arrow {
    left: 10px;
  }
}
.arrow {
  width: 40px;
  height: 40px;
  position: relative;
  left: 0px;
  transition: 0.5s;
}

@media screen and (max-width: 767px) {
  .br {
    display: none;
  }
}

/*header*/
header {
  padding-top: 62px;
  background-color: #FFFEEF;
  background-image: url(../img/header-back-img.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1800px) {
  header {
    background-size: 100% 100%;
    background-repeat: unset;
  }
}
@media screen and (max-width: 1800px) {
  header {
    background-size: 100% 100%;
    background-repeat: unset;
    padding-top: 42px;
  }
}
@media screen and (max-width: 1272px) {
  header {
    padding-top: 30px;
  }
}
header .header-container {
  justify-content: space-between;
  display: flex;
  padding: 0 60px;
}
@media screen and (max-width: 1800px) {
  header .header-container {
    padding: 0 40px;
  }
}
@media screen and (max-width: 1272px) {
  header .header-container {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 767px) {
  header .header-container {
    display: unset;
    text-align: right;
  }
}
header .logo-link {
  display: contents;
}
header .logo {
  width: 374px;
  height: 447px;
  z-index: 30;
  position: relative;
}
@media screen and (max-width: 1800px) {
  header .logo {
    width: 18%;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  header .logo {
    display: none;
  }
}
header .header-right {
  height: -moz-fit-content;
  height: fit-content;
}
header .header-right ul {
  display: flex;
  position: relative;
  z-index: 30;
}
header .header-right a {
  color: #1B1464;
  font-size: 1.4rem;
  position: relative;
  font-family: "source-han-sans-japanese", sans-serif;
  font-weight: 700;
  font-style: normal;
}
@media screen and (min-width: 1800px) {
  header .header-right a {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1272px) {
  header .header-right a {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 970px) {
  header .header-right a {
    font-size: 1.2rem;
  }
}
header .header-right a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #1B1464;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
header .header-right a:hover::after {
  transform: scale(1, 1);
}
header .header-right .header-manual, header .header-right .header-policy {
  margin: 0 4rem;
}
@media screen and (max-width: 1272px) {
  header .header-right .header-manual, header .header-right .header-policy {
    margin: 0 3rem;
  }
}
header .header-right img {
  position: absolute;
  right: 0px;
  top: 0px;
  max-width: 100%;
  height: auto;
}
header .header-right .hamburgers {
  display: none;
}
@media screen and (max-width: 767px) {
  header .header-right .pc-nav {
    display: none;
  }
  header .header-right .hamburgers {
    display: inline-block;
  }
  header .header-right .hamburger {
    width: 40px;
    height: 25px;
    position: fixed;
    z-index: 3000;
    right: 15px;
    top: 50px;
    z-index: 1000;
  }
  header .header-right .hamburger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1B1464;
    transition: 0.5s; /* 追記 */
    left: 0px;
  }
  header .header-right .hamburger span:first-of-type { /* ハンバーガーメニューの1番目の線 */
    top: 0;
  }
  header .header-right .hamburger span:nth-of-type(2) { /* ハンバーガーメニューの2番目の線 */
    top: 50%;
  }
  header .header-right .hamburger span:last-of-type { /* ハンバーガーメニューの3番目の線 */
    top: 100%;
  }
  header .header-right .slide-menu {
    background-color: #FFFEEF;
    position: fixed;
    padding: 50px 0px;
    top: 0px;
    width: 100%;
    left: 0;
    transform: translateX(100%);
    transition: 0.5s; /* 追記 */
    z-index: 999;
  }
  header .header-right .slide-menu li {
    color: #fff;
    text-align: center;
    transition: 0.5s;
    margin-bottom: 2rem;
  }
  header .header-right .hamburger.active span:first-of-type { /* ハンバーガーメニューの1番目の線 */
    top: 50%;
    transform: rotate(405deg);
  }
  header .header-right .hamburger.active span:nth-of-type(2) { /* ハンバーガーメニューの2番目の線 */
    opacity: 0; /* 透明にする */
  }
  header .header-right .hamburger.active span:last-of-type { /* ハンバーガーメニューの3番目の線 */
    top: 50%;
    transform: rotate(-405deg);
  }
  header .header-right .slide-menu.active {
    transform: translateX(0);
  }
  header .header-right ul {
    display: inline-block;
    z-index: 100;
  }
}

/*top*/
.top {
  background-color: #FFFEEF;
  text-align: center;
  position: relative;
  padding-bottom: 145px;
}
@media screen and (max-width: 1272px) {
  .top {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .top {
    padding-bottom: 0px;
    margin-bottom: -3rem;
  }
}
.top .texts {
  position: relative;
}
.top .texts p {
  color: #00B2D9;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.top .texts span {
  color: #1B1464;
  font-weight: bold;
}
.top .texts .catch-text-mini {
  font-size: 3.6rem;
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  font-family: "source-han-sans-japanese", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.top .texts .catch-text-mini span {
  font-size: 2.5rem;
  margin-left: 13px;
}
@media screen and (max-width: 1800px) {
  .top .texts .catch-text-mini span {
    font-size: 2rem;
    margin-left: 3px;
  }
}
@media screen and (max-width: 1800px) {
  .top .texts .catch-text-mini {
    font-size: 3rem;
    top: -6.3vw;
  }
}
@media screen and (max-width: 1272px) {
  .top .texts .catch-text-mini {
    top: 40px;
    left: 52%;
  }
}
@media screen and (max-width: 970px) {
  .top .texts .catch-text-mini {
    font-size: 2.3rem;
    top: 30px;
    left: 50%;
  }
}
@media screen and (max-width: 767px) {
  .top .texts .catch-text-mini {
    position: static;
    top: unset;
    left: unset;
    transform: translateX(0px);
  }
}
.top .texts .catch-text-big {
  font-size: 5.9rem;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  font-family: "source-han-sans-japanese", sans-serif;
  font-weight: 700;
  font-style: normal;
}
@media screen and (max-width: 1800px) {
  .top .texts .catch-text-big {
    font-size: 5.2rem;
    top: -3.8vw;
  }
}
@media screen and (max-width: 1272px) {
  .top .texts .catch-text-big {
    top: 75px;
    left: 52%;
    font-size: 4rem;
  }
}
@media screen and (max-width: 970px) {
  .top .texts .catch-text-big {
    font-size: 3rem;
    top: 60px;
    left: 52%;
  }
}
.top .texts .catch-text-big span {
  font-size: 3.3rem;
  margin: 0 6px;
}
@media screen and (max-width: 1800px) {
  .top .texts .catch-text-big span {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 767px) {
  .top .texts .catch-text-big {
    position: static;
    top: unset;
    left: unset;
    transform: translateX(0px);
  }
}
.top .catch-copy {
  max-width: 100%;
  height: auto;
  transform: translateX(70px);
  margin-top: -230px;
}
@media screen and (max-width: 1800px) {
  .top .catch-copy {
    max-width: 60%;
    height: auto;
    transform: translateX(50px);
    margin-top: -150px;
  }
}
@media screen and (max-width: 1272px) {
  .top .catch-copy {
    margin-top: 0px;
    transform: translateX(25px);
  }
}
@media screen and (max-width: 767px) {
  .top .catch-copy {
    display: none;
  }
}
.top .catch-copy-img {
  margin-bottom: 25px;
}
@media screen and (max-width: 1272px) {
  .top .catch-copy-img {
    margin-bottom: 5rem;
  }
}
.top .button {
  transition: 0.5s;
}
@media screen and (max-width: 767px) {
  .top .button {
    position: relative;
    z-index: 100;
  }
}
.top .arrow {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-top: -3px;
}
@media screen and (max-width: 767px) {
  .top .arrow {
    width: 20px;
    height: 20px;
  }
}
.top .button:hover {
  background-color: #313131;
  color: #FFF3CE;
}
.top .sp-logo {
  display: none;
}
@media screen and (max-width: 767px) {
  .top .sp-logo {
    display: inline-block;
    width: 60%;
    margin-top: 2rem;
  }
}

/*about*/
.about {
  text-align: center;
  background-image: url(../img/about-back-img.png);
  background-size: cover;
  position: relative;
  z-index: -1;
  z-index: 0;
  padding-bottom: 30px;
}
.about .about-title {
  padding-top: 274px;
}
.about .about-title span {
  margin-left: 0.5rem;
}
@media screen and (max-width: 767px) {
  .about .about-title {
    padding-top: 174px;
  }
}
.about .about-text {
  font-size: 3.5rem;
  font-family: "source-han-sans-japanese", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 75px 0px;
  line-height: 7rem;
  letter-spacing: 0.01em;
}
.about .about-text span {
  color: #00B2D9;
}
@media screen and (max-width: 1272px) {
  .about .about-text {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .about .about-text {
    font-size: 1.5rem;
    line-height: 3.5rem;
    padding: 3rem 0rem;
    text-align: left;
    width: 85%;
    margin: 0 auto;
  }
}
.about .button img {
  vertical-align: middle;
  margin-top: -3px;
}
@media screen and (max-width: 767px) {
  .about .button img {
    width: 20px;
    height: 20px;
  }
}
.about .about-left-img {
  position: absolute;
  z-index: -2;
  left: 0px;
  top: 300px;
}
@media screen and (max-width: 1800px) {
  .about .about-left-img {
    position: relative;
    top: unset;
    left: unset;
  }
  .about .about-left-img img {
    width: 8%;
    position: absolute;
    z-index: -2;
    left: 0px;
    top: -500px;
  }
}
.about .about-left-img .sp-img {
  display: none;
  width: 8%;
}
@media screen and (max-width: 767px) {
  .about .about-left-img .sp-img {
    display: inline-block;
  }
  .about .about-left-img .pc-img {
    display: none;
  }
  .about .about-left-img img {
    top: -75vw;
  }
}
.about .back-img-left img {
  position: absolute;
  top: -400px;
  left: 0px;
}
@media screen and (max-width: 1800px) {
  .about .back-img-left {
    position: relative;
  }
  .about .back-img-left img {
    width: 14%;
    top: -1000px;
  }
}
@media screen and (max-width: 767px) {
  .about .back-img-left img {
    width: 20%;
    top: -130vw;
  }
}
.about .back-img-right img {
  position: absolute;
  right: 0px;
  top: -500px;
  z-index: -1;
}
.about .back-img-right .sp-img {
  display: none;
}
@media screen and (max-width: 1800px) {
  .about .back-img-right {
    position: relative;
  }
  .about .back-img-right img {
    width: 14%;
    top: -1200px;
  }
}
@media screen and (max-width: 767px) {
  .about .back-img-right .sp-img {
    display: inline-block;
    width: 11%;
  }
  .about .back-img-right img {
    top: -130vw;
  }
  .about .back-img-right .pc-img {
    display: none;
  }
}

/*feature*/
.feature {
  background-color: #FFFEEF;
  padding-bottom: 0rem;
  /*activity*/
  /*meeting*/
  /*activity-example*/
}
.feature .about-back-img2 {
  width: 100%;
  height: auto;
}
.feature .feature-back-img::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 12.5vw;
  background-image: url(../img/about-back-img2.png);
  background-size: 100% 100%;
  background-repeat: unset;
}
.feature .feature-titles {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .feature .feature-titles {
    width: 100%;
  }
}
.feature .feature-titles .feature-title {
  text-align: center;
  background-image: url(../img/feature-title-back.png);
  background-position: 0px 80px;
  padding: 240px;
  padding-left: 297px;
  background-repeat: no-repeat;
  background-size: 903px 402px;
}
@media screen and (max-width: 970px) {
  .feature .feature-titles .feature-title {
    /**/
    width: -moz-fit-content;
    width: fit-content;
    background-size: 665px 278px;
    padding: 150px;
    background-position: -6px 57px;
  }
}
@media screen and (max-width: 767px) and (min-width: 415px) {
  .feature .feature-titles .feature-title {
    width: auto;
    text-align: center;
    background-repeat: no-repeat;
    padding: 60px;
    background-position: 45% 0px;
    background-size: contain;
    position: relative;
  }
}
@media screen and (max-width: 414px) {
  .feature .feature-titles .feature-title {
    width: auto;
    text-align: center;
    background-repeat: no-repeat;
    padding: 60px;
    background-position: 0px 0px;
    background-size: contain;
    position: relative;
  }
}
@media screen and (max-width: 316px) {
  .feature .feature-titles .feature-title {
    width: auto;
    text-align: center;
    background-repeat: no-repeat;
    padding: 42px;
    background-position: 0px 0px;
    background-size: contain;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .feature .feature-titles span {
    margin-left: 0.1rem;
  }
}
@media screen and (max-width: 316px) {
  .feature .feature-titles span {
    margin-left: 0rem;
  }
}
.feature .activity {
  position: relative;
}
.feature .activity .activity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature .activity .activity-title {
  margin-left: -1rem;
  margin-bottom: 7.5rem;
}
@media screen and (max-width: 1800px) {
  .feature .activity .activity-title {
    margin-left: -3rem;
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .feature .activity .activity-title {
    margin-left: 0px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 1800px) {
  .feature .activity .activity-img {
    text-align: right;
  }
  .feature .activity .activity-img img {
    width: 100%;
  }
}
@media screen and (max-width: 1272px) {
  .feature .activity .activity-container {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .feature .activity .activity-img {
    display: none;
  }
  .feature .activity .sp-img img {
    width: 100%;
  }
}
.feature .activity-texts {
  margin-left: 12.4rem;
}
@media screen and (max-width: 1800px) {
  .feature .activity-texts {
    margin-left: 0rem;
    width: 70%;
    padding-left: 6rem;
  }
}
@media screen and (max-width: 1300px) {
  .feature .activity-texts {
    margin-left: 0rem;
    width: 75%;
    padding-left: 6rem;
  }
}
@media screen and (max-width: 1272px) {
  .feature .activity-texts {
    width: 100%;
    padding-left: 0rem;
  }
}
@media screen and (max-width: 767px) {
  .feature .activity-texts .tag-title {
    font-size: 1.5rem;
  }
  .feature .activity-texts .text {
    font-size: 1.5rem;
    width: 85%;
    margin: 0 auto;
    text-align: left;
  }
}
.feature .tags .tag-title {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 767px) {
  .feature .tags .tag-title {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.feature .tags .tag {
  color: #FFFFFF;
  background-color: #04B9E6;
  padding: 13px 30px;
  border-radius: 1000px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.9rem;
}
@media screen and (max-width: 1800px) {
  .feature .tags .tag {
    padding: 9px 20px;
    font-size: 1.9rem;
    letter-spacing: 0.1rem;
  }
}
@media screen and (max-width: 1272px) {
  .feature .tags .tag {
    padding: 9px 30px;
    font-size: 1.9rem;
    letter-spacing: 0.1rem;
  }
}
@media screen and (max-width: 767px) {
  .feature .tags .tag {
    padding: 2px 14px;
    font-size: 1.1rem;
    letter-spacing: 0rem;
  }
}
@media screen and (max-width: 316px) {
  .feature .tags .tag {
    padding: 2px 6px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 279px) {
  .feature .tags .tag {
    padding: 2px 6px;
    font-size: 0.8rem;
  }
}
.feature .tags .tag1, .feature .tags .tag2, .feature .tags .tag3, .feature .tags .tag4 {
  display: flex;
  margin-top: 3rem;
}
@media screen and (max-width: 767px) {
  .feature .tags .tag1, .feature .tags .tag2, .feature .tags .tag3, .feature .tags .tag4 {
    margin-top: 1.5rem;
  }
}
.feature .tags .tag1 {
  margin-top: 5rem;
}
.feature .tags .tag-margin {
  margin: 0 31px;
}
@media screen and (max-width: 767px) {
  .feature .tags .tag-margin {
    margin: 0px 1rem;
  }
}
@media screen and (max-width: 316px) {
  .feature .tags .tag-margin {
    margin: 0px 0.8rem;
  }
}
@media screen and (max-width: 279px) {
  .feature .tags .tag-margin {
    margin: 0px 0.5rem;
  }
}
.feature .tags .tag-margin-right {
  margin-right: 31px;
}
@media screen and (max-width: 767px) {
  .feature .tags .tag-margin-right {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 1272px) {
  .feature .tags .tag1, .feature .tags .tag2, .feature .tags .tag3, .feature .tags .tag4 {
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    justify-content: center;
  }
}
.feature .meetings {
  background-image: url(../img/meeting-back-img.png);
  background-position: right;
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 6rem;
  padding: 280px;
  padding-top: 24.5rem;
  padding-bottom: 49.5rem;
  padding-right: 0px;
  padding-left: 0px;
}
@media screen and (max-width: 1272px) {
  .feature .meetings {
    background-image: url(../img/meeting-back-img-sp.png);
    background-size: 100% 100%;
    padding: 200px 0px;
    margin-top: 10rem;
    margin-bottom: 0rem;
  }
}
@media screen and (max-width: 767px) {
  .feature .meetings {
    padding: 10rem 0px;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.feature .meetings .meeting-title {
  overflow-x: hidden;
  margin-bottom: 7.5rem;
}
.feature .meetings .meeting-title p {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 100%;
  transform: translateX(-93%);
  overflow-x: hidden;
}
@media screen and (max-width: 767px) {
  .feature .meetings .meeting-title p {
    margin-left: 0px;
    margin: 0 auto;
    transform: translateX(0%);
  }
}
@media screen and (max-width: 767px) {
  .feature .meetings .meeting-title {
    margin-bottom: 3rem;
  }
}
.feature .meetings .meeting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature .meetings .meeting-container .text {
  margin-left: 6.4rem;
}
@media screen and (max-width: 1300px) {
  .feature .meetings .meeting-container .text {
    margin-left: 3vw;
  }
}
@media screen and (max-width: 767px) {
  .feature .meetings .meeting-container .text {
    margin-left: 0px;
    font-size: 1.5rem;
    line-height: 3.5rem;
    padding: 3rem 0rem;
    padding-top: 0px;
    text-align: left;
    width: 85%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1272px) {
  .feature .meetings .meeting-container {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .feature .meetings .meeting-container .meeting-img {
    display: none;
  }
  .feature .meetings .meeting-container .sp-img img {
    width: 100%;
  }
}
@media screen and (max-width: 1272px) and (max-width: 767px) {
  .feature .meetings .meeting-container .sp-img {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 1800px) {
  .feature .meetings {
    margin-left: 0rem;
  }
  .feature .meetings .meeting-img {
    text-align: right;
    width: 50%;
  }
}
.feature .activity-examples {
  position: relative;
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .feature .activity-examples {
    padding-bottom: 3rem;
  }
}
.feature .activity-examples .activity-example-title .title1 {
  margin-left: -3rem;
}
@media screen and (max-width: 767px) {
  .feature .activity-examples .activity-example-title .title1 {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 316px) {
  .feature .activity-examples .activity-example-title .title1 {
    margin-left: 0vw;
    text-align: center;
  }
}
.feature .activity-examples .activity-example-title .title2 {
  margin-left: 32.2rem;
}
@media screen and (max-width: 1800px) {
  .feature .activity-examples .activity-example-title .title2 {
    position: relative;
    z-index: 30;
  }
}
@media screen and (max-width: 1800px) {
  .feature .activity-examples .activity-example-title .title2 {
    margin-left: 9rem;
  }
}
@media screen and (max-width: 767px) {
  .feature .activity-examples .activity-example-title .title2 {
    margin-left: 10vw;
  }
}
@media screen and (max-width: 316px) {
  .feature .activity-examples .activity-example-title .title2 {
    margin-left: 0vw;
    text-align: center;
  }
}
.feature .activity-examples .activity-cards .texts {
  display: flex;
  align-items: baseline;
  margin-left: 14.5rem;
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}
@media screen and (max-width: 1800px) {
  .feature .activity-examples .activity-cards .texts {
    margin-left: 5%;
  }
}
@media screen and (max-width: 767px) {
  .feature .activity-examples .activity-cards .texts {
    margin-left: 10%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.feature .activity-examples .activity-cards .texts p {
  font-size: 4rem;
  font-family: "interstate", sans-serif;
  color: #54C0DA;
  position: relative;
}
@media screen and (max-width: 767px) {
  .feature .activity-examples .activity-cards .texts p {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
}
.feature .activity-examples .activity-cards .texts p::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 117%;
  width: 85%;
  height: 3px;
  background: #54C0DA;
}
@media screen and (max-width: 767px) {
  .feature .activity-examples .activity-cards .texts p::before {
    height: 2px;
  }
}
.feature .activity-examples .activity-cards .texts p::after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 190%;
  width: 15px;
  height: 3px;
  background: #54C0DA;
  transform: rotate(35deg);
}
@media screen and (max-width: 767px) {
  .feature .activity-examples .activity-cards .texts p::after {
    height: 2px;
    left: 179%;
  }
}
.feature .activity-examples .pc-swiper {
  width: auto;
  margin: 0px;
  margin-left: 14.5rem;
  position: relative;
  z-index: 30;
}
@media screen and (max-width: 1800px) {
  .feature .activity-examples .pc-swiper {
    margin: 0 5%;
    position: relative;
    z-index: 30;
  }
}
@media screen and (max-width: 767px) {
  .feature .activity-examples .pc-swiper {
    margin-left: 0%;
    width: 100%;
  }
}
.feature .activity-examples .pc-slide img {
  width: 452px;
  height: 936px;
}
@media screen and (max-width: 1800px) {
  .feature .activity-examples .pc-slide {
    margin-right: 5rem;
  }
  .feature .activity-examples .pc-slide img {
    width: 100%;
    height: auto;
  }
}
.feature .activity-examples .sp-swiper {
  display: none;
}
@media screen and (max-width: 767px) {
  .feature .activity-examples .pc-swiper {
    display: none;
  }
  .feature .activity-examples .sp-swiper {
    display: inline-block;
  }
  .feature .activity-examples .swiper {
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  .feature .activity-examples .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80% !important;
    margin: 0 10% !important;
    height: auto;
  }
  .feature .activity-examples .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.feature .activity-examples .back-img {
  position: absolute;
  right: 0px;
  top: -2vw;
  z-index: 3;
}
.feature .activity-examples .back-img .sp-img {
  display: none;
}
@media screen and (max-width: 1800px) {
  .feature .activity-examples .back-img {
    top: -22vw;
  }
  .feature .activity-examples .back-img img {
    height: 140vw;
  }
}
@media screen and (max-width: 970px) {
  .feature .activity-examples .back-img {
    top: 17vw;
  }
}
@media screen and (max-width: 767px) {
  .feature .activity-examples .back-img {
    top: 500px;
    z-index: 0;
    overflow-y: hidden;
  }
  .feature .activity-examples .back-img img {
    height: 100vw;
  }
  .feature .activity-examples .back-img .pc-img {
    display: none;
  }
  .feature .activity-examples .back-img .sp-img {
    display: block;
  }
}
.feature .feature-button {
  text-align: center;
  margin-top: 7.5rem;
}
@media screen and (max-width: 767px) {
  .feature .feature-button {
    margin-top: 3rem;
  }
}
.feature .feature-button a {
  position: relative;
  z-index: 10;
}
.feature .button img {
  vertical-align: middle;
  margin-top: -3px;
}
@media screen and (max-width: 767px) {
  .feature .button img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .feature {
    padding-bottom: 0rem;
  }
}

/*footer*/
footer {
  background-image: url(../img/footer-back-img2.png);
  background-size: cover;
  padding-bottom: 5rem;
  padding-left: 9rem;
  padding-top: 28rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  footer {
    background-image: url(../img/sp-footer-back-img.png);
  }
}
@media screen and (max-width: 1800px) {
  footer {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 12rem;
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 767px) {
  footer {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-bottom: 2rem;
    padding-top: 5rem;
  }
}
footer .footer-img {
  background-color: #FFFEEF;
}
footer .footer-list {
  height: -moz-fit-content;
  height: fit-content;
}
footer .footer-list ul {
  display: flex;
  position: relative;
  z-index: 30;
}
@media screen and (max-width: 767px) {
  footer .footer-list ul {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10%;
  }
}
footer .footer-list a {
  color: #1B1464;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "source-han-sans-japanese", sans-serif;
  font-weight: 700;
  font-style: normal;
}
@media screen and (min-width: 1800px) {
  footer .footer-list a {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 767px) {
  footer .footer-list a {
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
  }
}
footer .footer-list .footer-manual, footer .footer-list .footer-policy {
  margin: 0 40px;
}
@media screen and (max-width: 767px) {
  footer .footer-list .footer-manual, footer .footer-list .footer-policy {
    margin: 0px;
  }
}
@media screen and (max-width: 767px) {
  footer .footer-list li {
    padding-top: 1rem;
    margin-left: 1rem;
  }
}
footer .footer-list img {
  position: absolute;
  right: 0px;
  top: 0px;
  max-width: 100%;
  height: auto;
}
footer .company {
  font-size: 1.4rem;
  font-family: "source-han-sans-japanese", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  margin-top: 6.7rem;
}
@media screen and (min-width: 1800px) {
  footer .company {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1800px) {
  footer .company {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 767px) {
  footer .company {
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 1rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 316px) {
  footer .company p {
    font-size: 1rem;
    letter-spacing: 0rem;
  }
}
footer .copy-right {
  text-align: center;
}
footer .copy-right p {
  font-size: 1.2rem;
  font-family: "source-han-sans-japanese", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 6.7rem;
}
@media screen and (max-width: 1800px) {
  footer .copy-right p {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 767px) {
  footer .copy-right p {
    font-size: 1.2rem;
    letter-spacing: 0px;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 316px) {
  footer .copy-right p {
    font-size: 1rem;
    letter-spacing: 0rem;
    margin-top: 2rem;
  }
}/*# sourceMappingURL=index.css.map */