/*共通*/
$breakpoints: (
//キー値
  'sp': 'screen and (max-width: 767px)', //767px以下用の表示
  'pc': 'screen and (min-width: 1800px)', //1800px以上（タブレット・PC）用の表示
  'middle-pc': 'screen and (max-width: 1800px)' ,//1800px以下用の表示
  'mini-pc': 'screen and (max-width: 1300px)' ,
  'ipad': 'screen and (max-width: 1272px)' ,
  'ipad-mini': 'screen and (max-width: 970px)' ,
  'mini-sp': 'screen and (max-width: 316px)',
  'sp-ipad': 'screen and (max-width: 767px) and (min-width: 415px)',
  'sp-feature': 'screen and (max-width: 414px)',
  'mini-sp2': 'screen and (max-width: 279px)',
) !default;

//メディアクエリ用のmixinを定義。デフォ値はsp
@mixin mq($breakpoint: sp) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

html{
    font-size: 62.5%; 
}

.manual-top{
    .manual-text-mini{
        font-size: 5rem;

        @include mq(ipad-mini){
            font-size: 3rem;
        }

        @include mq(sp){
            font-size: 2.3rem;
            letter-spacing: 0.3rem;
        }

        @include mq(mini-sp){
            font-size: 1.7rem;
            letter-spacing: 0.1rem;
        }
    }
}



.policys{
    font-family: "source-han-sans-japanese", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #DBFCF5;
    

    .policy-back-img{
        position: relative;
        img{
            width: 100%;
        }
    }

    .policy{
        margin: 0 0 20px;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;

            @include mq(ipad){
                font-size: 1.8rem;
            }

            @include mq(sp){
                font-size: 1.3rem;
            }

            @include mq(mini-sp){
                font-size: 1.1rem;
            }
    }

    .policy-texts{
        padding: 0px 10% ;
    }

    dt{
        font-weight: 700;
        margin-top: 2rem;
        letter-spacing: 0.1rem;
        

        @include mq(ipad){
                font-size: 1.8rem;
        }

        @include mq(sp){
                font-size: 1.3rem;
        }

        @include mq(mini-sp){
                font-size: 1.1rem;
        }
    }

    dl{
        font-weight: 500;
        font-size: 2rem;
        letter-spacing: 0.1rem;
        line-height: 3.5rem;

        @include mq(ipad){
                font-size: 1.8rem;
                line-height: 3rem;
        }

        @include mq(sp){
                font-size: 1.3rem;
                line-height: 2.6rem;
        }

        @include mq(mini-sp){
                font-size: 1.1rem;
                line-height: 2.4rem;
        }
    }

    .card-margin{
        padding-bottom: 1rem;
        font-weight: 500;
    }
}